/* GLOBAL */
body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header{
  min-height: 50px;
}
footer{
  min-height: 30px;
}
main{
  min-height: 80vh;
}
.mainFontFam{
  font-family: 'Lato', sans-serif;
}
.full-height{
  height: 100%;
}
.center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursorP{
  cursor: pointer;
}

/* CADRE DE VICTOIRE */
.victoryCadre{
  top:70vh;
  left:50%;
  opacity: 0;
  width: 80vw;
  text-align: center;
  background-color: rgba(0, 128, 128, 0.8);
  border-radius: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.victoryCadre p{
  font-size: 4vw;
  padding:10px;
  margin :0;
  color : white;
}
.victoryCadre.moveVC{
  opacity: 1;
  transition: opacity 2000ms ease-out;
}

/* PERSONNALISATION DES CADRES */
.inputText{
  padding: 20px 100px 20px 100px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.inputScore{
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  width: 80%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: auto auto;
}
.btnKeep{
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: auto auto;
}
.btnHideLog{
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: auto auto;
}
.mobileMode{
  transform: rotate(180deg);
}
#logArea{
  background-color: transparent;
  border: 0px transparent;
}
.hide-log{
  display: none;
}

/* FOCUS DU JOUEUR EN COURS */
.bg-player{
  background-color:#5e8564a6;
  border-radius: 20px;
}
.border-player{
  border: 7px solid #fdf041dd;
  border-radius: 20px;
  background-color: rgb(114, 139, 89);
}

/* PERSONNALISATION DU DE */
.diceCadre{
  top:50%;
  left:50%;
  width: 150px;
  text-align: center; 
}
.dice{
  background-color: aqua;
  height: 90px;
  width: 90px;
}
.diceModal{
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-position: center;
  background-size: contain;
}
.btnDiceRoll{
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: auto auto;
}
.btnStyle{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border:none;
  background-position: center;
  background-size: contain;
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.diceDot1{
  background-image: url(../ressources/images/diceDot1.png);
}
.diceDot2{
  background-image: url(../ressources/images/diceDot2.png);
}
.diceDot3{
  background-image: url(../ressources/images/diceDot3.png);
}
.diceDot4{
  background-image: url(../ressources/images/diceDot4.png);
}
.diceDot5{
  background-image: url(../ressources/images/diceDot5.png);
}
.diceDot6{
  background-image: url(../ressources/images/diceDot6.png);
}
.diceBack1{
  background-image: url(../ressources/images/diceBack1.png);
}
.diceBack2{
  background-image: url(../ressources/images/diceBack2.png);
}
.diceBack3{
  background-image: url(../ressources/images/diceBack3.png);
}
.diceBack4{
  background-image: url(../ressources/images/diceBack4.png);
}
.diceBack5{
  background-image: url(../ressources/images/diceBack5.png);
}
.diceBack6{
  background-image: url(../ressources/images/diceBack6.png);
}

/* ANIMATION DU LANCE DE DE */
.roll-dice{
  transition: transform 2000ms ease-out;
  transform: rotateZ(1080deg);
}

