.mainFontFam{
  font-family: 'Lato', sans-serif;
}
.bg-player1{
  background-color:antiquewhite;
}
.bg-player2{
  background-color:bisque;
}
.border-player{
  border: 3px solid red;
}
.background-NP{

}
.full-height{
  height: 100%;
}

.hide-log{
  display: none;
}
.center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
#p1, #p2{
  background-color: aquamarine;
}
#currentScoreP1, #currentScoreP2{
  background-color: rgb(131, 206, 152);
}
#logP1, #logP2{
  background-color: cadetblue;
}
*/
#logArea{
  background-color: transparent;
  border: 0px transparent;
}








body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header{
  min-height: 50px;
}
footer{
  min-height: 30px;
}
main{
  min-height: 70%;
}