.inputName{
  background-color: aqua;
}
.mainFontFam{
  font-family: 'Lato', sans-serif;
}
.bg-player{
  background-color:#ffe4c4;
}
.border-player{
  border: 3px solid red;
}
.full-height{
  height: 100%;
}
.hide-log{
  display: none;
}
.center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-dice{
  background-image: url(../ressources/images/dice-1-fill.svg);
  background-position: center;
  background-repeat: none;
  background-size: contain;
  content:"";
  height: 70px;
  width: 70px;
  transition: all .3s ease-out;
}
.background-dice:hover{
  cursor: pointer;
  right: 10px;
  top:10px;
}
.diceCadre{
  top:50%;
  left:50%;
  width: 150px;
  text-align: center;
}
.dice{
  background-color: aqua;
  height: 90px;
  width: 90px;
}
.victoryCadre{
  top:70vh;
  left:50%;
  opacity: 0;
  width: 80vw;
  text-align: center;
  background-color: rgba(0, 128, 128, 0.579);
  border-radius: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.483);
}
.victoryCadre p{
  font-size: 4vw;
  padding:10px;
  margin :0;
  color : white;
}
.victoryCadre.moveVC{
  opacity: 1;
  transition: opacity 3s ease-out;
}

/* ANIMATION ROLL DICE */

.roll-dice1{
  transition: transform 1s ease-out;
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.roll-dice2{
  transition: transform 1s ease-out;
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.roll-dice3{
  transition: transform 1s ease-out;
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.roll-dice4{
  transition: transform 1s ease-out;
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.roll-dice5{
  transition: transform 1s ease-out;
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.roll-dice6{
  transition: transform 1s ease-out;
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

/* STYLE FOR ID */

#logArea{
  background-color: transparent;
  border: 0px transparent;
}

.cursorP{
  cursor: pointer;
}

/* STYLE FOR GLOBAL */ 

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header{
  min-height: 50px;
}
footer{
  min-height: 30px;
}
main{
  min-height: 80vh;
}